* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "doto", monospace;
}

h1 {
  text-align: center;
  margin: 7rem auto;
  font-size: 5rem;
  color: white;
  font-weight: 900;
  text-shadow: 1px 1px 13px white;
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 0.5rem;
  width: fit-content;
  margin: 0rem auto;
  padding: 2rem;
  box-shadow: 1px 1px 50px rgb(75, 74, 74);
}

.tile {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #222;
}
